<a href="https://colab.research.google.com/github/Aneesabbasi19/Ai-lab-Tasks/blob/main/Lab%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Access List Items:
•	Create a list of fruits.
•	Print the first and last items of the list.

In [2]:
# Access List Items
fruits = ["apple", "banana", "orange", "grape", "kiwi"]
print("First item:", fruits[0])
print("Last item:", fruits[-1])

First item: apple
Last item: kiwi

2.	Change List Items:
•	Create a list of colors.
•	Change the second item in the list to "blue".

In [3]:
# Change List Items
colors = ["red", "green", "yellow", "purple"]
colors[1] = "blue"
print("Updated colors:", colors)

Updated colors: ['red', 'blue', 'yellow', 'purple']

3.	Add List Items:
•	Create a list of numbers.
•	Add the number 10 at the end of the list.

In [4]:
# Add List Items
numbers = [1, 2, 3, 4, 5]
numbers.append(10)
print("Updated numbers:", numbers)

Updated numbers: [1, 2, 3, 4, 5, 10]

4.	Remove List Items:
•	Create a list of animals.
•	Remove the third item from the list.

In [5]:
# Remove List Items
animals = ["dog", "cat", "lion", "elephant"]
del animals[2]
print("Updated animals:", animals)

Updated animals: ['dog', 'cat', 'elephant']

5.	Loop Lists:
•	Create a list of cities.
•	Loop through the list and print each city.

In [6]:
# Loop Lists
cities = ["New York", "London", "Paris", "Tokyo"]
for city in cities:
    print(city)

New York
London
Paris
Tokyo

6.	List Comprehension:
•	Create a list of numbers from 1 to 10.
•	Use list comprehension to create a new list containing the square of each number.

In [7]:
# List Comprehension
numbers = [i for i in range(1, 11)]
squares = [num ** 2 for num in numbers]
print("Squared numbers:", squares)

Squared numbers: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

7.	Sort Lists:
•	Create a list of names.
•	Sort the list alphabetically.

In [8]:
# Sort Lists
names = ["Alice", "Bob", "Charlie", "David"]
names.sort()
print("Sorted names:", names)

Sorted names: ['Alice', 'Bob', 'Charlie', 'David']

8.	Copy Lists:
•	Create a list of fruits.
•	Copy the list into a new list.

In [9]:
# Copy Lists
fruits = ["apple", "banana", "orange"]
fruits_copy = fruits.copy()
print("Copied list:", fruits_copy)

Copied list: ['apple', 'banana', 'orange']

9.	Join Lists:
•	Create two lists of numbers.
•	Join the two lists into a single list.

In [10]:
# Join Lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2
print("Combined list:", combined_list)

Combined list: [1, 2, 3, 4, 5, 6]

10.	List Methods:
•	Create a list of fruits.
•	Use the append() method to add a new fruit to the list.
•	Use the pop() method to remove the last fruit from the list.

In [11]:
# List Methods
fruits = ["apple", "banana", "orange"]
fruits.append("grape")
print("Updated fruits:", fruits)
fruits.pop()
print("After popping:", fruits)

Updated fruits: ['apple', 'banana', 'orange', 'grape']
After popping: ['apple', 'banana', 'orange']

11.	Combining Lists and List Comprehension:

•	Create two lists, one containing numbers from 1 to 5 and another containing numbers from 6 to 10.
•	Use list comprehension to create a new list that contains the sum of corresponding elements from the two lists.

In [12]:
# Combining Lists and List Comprehension
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
sum_list = [x + y for x, y in zip(list1, list2)]
print("Sum list:", sum_list)

Sum list: [7, 9, 11, 13, 15]

12.	Filtering and Sorting:
Create a list of numbers.
•	Use list comprehension to create a new list containing only the even numbers from the original list.
•	Sort the new list in descending order.

In [13]:
# Filtering and Sorting
numbers = [3, 6, 2, 8, 5, 9, 4, 7]
even_numbers = [num for num in numbers if num % 2 == 0]
even_numbers.sort(reverse=True)
print("Sorted even numbers:", even_numbers)

Sorted even numbers: [8, 6, 4, 2]

13.	List Slicing and Reversing:
•	Create a list of numbers from 1 to 10.
•	Use list slicing to create a new list containing only the even numbers from the original list, in reverse order.

In [14]:
# List Slicing and Reversing
numbers = list(range(1, 11))
even_reverse = numbers[-2::-2]
print("Even numbers in reverse:", even_reverse)

Even numbers in reverse: [9, 7, 5, 3, 1]

14.	Combining Lists and List Methods:
•	Create two lists, one containing even numbers and another containing odd numbers.
•	Use list methods to combine the two lists into a single list, alternating between even and odd numbers.

In [16]:
even_numbers = [2, 4, 6, 8, 10]
odd_numbers = [1, 3, 5, 7, 9]
combined_list = []
for even, odd in zip(even_numbers, odd_numbers):
    combined_list.append(even)
    combined_list.append(odd)
print("Combined list:", combined_list)

Combined list: [2, 1, 4, 3, 6, 5, 8, 7, 10, 9]