In [ ]:
#Task 1

#Task 2
# Integer variable
integer_var = 10
# Floating-point variable
float_var = 3.14
# String variable
string_var = "Hello, world!"
# Boolean variable
bool_var = True


#Task 3 Valid Variables
my_var = 10
user_age = 25
first_name = "John"
is_valid = True
total_count = 100


#Task 4
# Single variable with multiple values
x = y = z = 10, 20, 30
a, b, c = 1, 2, 3
# Multiple variables with single values
name, age, country = "John", 25, "USA"
city, population, area = "Tokyo", 37400068, 218

#Task 5
#Integer arithmetic operations
integer_a = 10
integer_b = 5
# Addition
addition_result = integer_a + integer_b
print("Addition result:", addition_result) # Output: 15
# Subtraction
subtraction_result = integer_a - integer_b
print("Subtraction result:", subtraction_result) # Output: 5
# Multiplication
multiplication_result = integer_a * integer_b
print("Multiplication result:", multiplication_result) # Output: 50
# Division
division_result = integer_a / integer_b
print("Division result:", division_result) # Output: 2.0

#Floating-point arithmetic operations
float_a = 7.5
float_b = 2.5
# Addition
float_addition_result = float_a + float_b
print("Float addition result:", float_addition_result) # Output: 10.0
# Subtraction
float_subtraction_result = float_a - float_b
print("Float subtraction result:", float_subtraction_result) # Output: 5.0
# Multiplication
float_multiplication_result = float_a * float_b
print("Float multiplication result:", float_multiplication_result) # Output:
18.75
# Division
float_division_result = float_a / float_b
print("Float division result:", float_division_result) # Output: 3.0

#Task 6
# Using single quotes
single_quoted_string = 'This is a string created with single quotes.'
print(single_quoted_string)
# Using double quotes
double_quoted_string = "This is a string created with double quotes."
print(double_quoted_string)
# Using double quotes when the string contains a single quote
string_with_single_quote = "He said, 'Hello!'"
print(string_with_single_quote)
# Using single quotes when the string contains double quote
string_with_double_quote = 'She exclaimed, "Wow!"'
print(string_with_double_quote)

#Task 7
x = "Python"
y = "is"
z = "awesome"
print(x ,y ,z)
# in this comma the is spaxe between string


int =12
float= 10.1;
str="rafay"
print(int,float,str)

SyntaxError: unterminated string literal (detected at line 92) (<ipython-input-1-2706c2de3984>, line 92)