<a href="https://colab.research.google.com/github/Aneesabbasi19/Ai-lab-Task-1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task 1:
Differentiate between assignment operator and equality operator.

**Answer:**

The assignment operator (=) and the equality operator (==) are two fundamental operators used in programming languages, especially in languages like C, C++, Java, Python, and
others.

---


**Assignment operator:**
• The assignment operator is used to assign a value to a variable.
• It's a binary operator, taking a variable on the left and an expression on the right.
Example: x = 5; assigns the value 5 to the variable x.

---


**Equality operator:**
• The equality operator is used to compare two values to see if they are equal.
• It returns true if the values on both sides are equal; otherwise, it returns false.
Example: if (x == 5) checks if the value of x is equal to 5.

---

Task 2:
Explore all kinds /data types of variables. And write code for each datatype.
 Integer variable
 Floating-point variable
 String variable
 Boolean variable

In [3]:
# Integer variable
integer_var = 10
# Floating-point variable
float_var = 3.14
# String variable
string_var = "Hello, world!"
# Boolean variable
bool_var = True

Task 3:
Explain the rules for variables name and use different variables name including special characters, numbers etc.

**Allowed characters:**
Variable names can typically include letters (both uppercase and lowercase), digits,
and underscores. However, the first character of a variable name cannot be a digit.

---


**Case sensitivity:**
Variable names are usually case-sensitive, meaning myVar and myvar would be
considered as two different variables.

---


**Reserved keywords:**
Variable names cannot be the same as reserved keywords or identifiers in the
programming language. For example: you cannot use if, for, while, etc as variable
names.

---

Task 4:
Declare and initialize multiple variables in a single line. Single variable with multiple values,
multiple variables with single values. Each having at least two examples.

In [ ]:
# Single variable with multiple values
x = y = z = 10, 20, 30
a, b, c = 1, 2, 3
# Multiple variables with single values
name, age, country = "John", 25, "USA"
city, population, area = "Tokyo", 37400068, 218

Task 5:
Perform arithmetic operations on integers and floating-point numbers.
 Adding, Subtracting, Multiplication and dividing two integer variables.
 Adding, Subtracting, Multiplication and dividing floating-point variables.

In [ ]:
#Task 5
#Integer arithmetic operations
integer_a = 10
integer_b = 5
# Addition
addition_result = integer_a + integer_b
print("Addition result:", addition_result) # Output: 15
# Subtraction
subtraction_result = integer_a - integer_b
print("Subtraction result:", subtraction_result) # Output: 5
# Multiplication
multiplication_result = integer_a * integer_b
print("Multiplication result:", multiplication_result) # Output: 50
# Division
division_result = integer_a / integer_b
print("Division result:", division_result) # Output: 2.0

#Floating-point arithmetic operations
float_a = 7.5
float_b = 2.5
# Addition
float_addition_result = float_a + float_b
print("Float addition result:", float_addition_result) # Output: 10.0
# Subtraction
float_subtraction_result = float_a - float_b
print("Float subtraction result:", float_subtraction_result) # Output: 5.0
# Multiplication
float_multiplication_result = float_a * float_b
print("Float multiplication result:", float_multiplication_result) # Output:
18.75
# Division
float_division_result = float_a / float_b
print("Float division result:", float_division_result) # Output: 3.0

Task 6:
A string literal is a sequence of characters enclosed in quotes. In Python, we can use either
single
quotes (‘…’) or double quotes (“…”) to create a string.
 Using single quotes
 Using double quotes
 Using double quotes when the string contains a single quote
 Using single quotes when the string contains double quote

In [ ]:
#Task 6
# Using single quotes
single_quoted_string = 'This is a string created with single quotes.'
print(single_quoted_string)
# Using double quotes
double_quoted_string = "This is a string created with double quotes."
print(double_quoted_string)
# Using double quotes when the string contains a single quote
string_with_single_quote = "He said, 'Hello!'"
print(string_with_single_quote)
# Using single quotes when the string contains double quote
string_with_double_quote = 'She exclaimed, "Wow!"'
print(string_with_double_quote)

Task 7:
The print() function is a built-in function in Python that allows you to output variables and
other
data to the console.
 Example of using the print() function to output a variable
 Example of outputting multiple variables with print()
 Example of using f-strings to format output
 Example of using f-strings to manipulate variables in output

In [ ]:
#Task 7
x = "Python"
y = "is"
z = "awesome"
print(x ,y ,z)
# in this comma the is spaxe between string


int =12
float= 10.1;
str="rafay"
print(int,float,str)